button {
	@apply
		transition-all duration-100 ease-in-out
		pointer-events-auto cursor-pointer disabled:cursor-default
		outline-b5 outline-offset-5
		disabled:opacity-50
		;
}

@utility btn-icon-border {
	@apply
		bg-n1
		border border-n2
		rounded-3xl
		flex
		;
}

@utility btn-icon {
	@apply
		h-[clamp(2rem,3.077vh+1.077rem,3rem)] aspect-square
		rounded-full
		text-b5
		hover:not-disabled:scale-105 active:hover:not-disabled:scale-100
		focus-visible:outline-2
		;
}

@utility btn-rank {
	@apply
		hover:not-disabled:scale-105 active:hover:not-disabled:scale-100
		focus-visible:outline-2
		;
}

@utility btn-emoji {
	@apply
		h-[clamp(1.875rem,5vh+0.5rem,3.125rem)] aspect-square
		rounded-full
		text-b5
		hover:not-disabled:scale-105 active:hover:not-disabled:scale-100
		focus:outline-2
		;
}

@utility btn-white {
	@apply
		bg-n6 hover:not-disabled:bg-b5
		border border-n5 rounded-3xl hover:not-disabled:border-b6
		text-lg text-n0
		hover:not-disabled:scale-105 active:hover:not-disabled:scale-100
		focus-visible:outline-2
		;
}

@utility btn-avatar {
	@apply
		rounded-xs h-full
		hover:not-disabled:scale-105 active:hover:not-disabled:scale-100
		focus-visible:outline-2
		;
}

@utility btn-sort {
	@apply
		w-full h-full
		bg-n1
		border border-n2 rounded-3xl
		text-n6 text-[clamp(0.25rem,2vw+0.125rem,1rem)]
		hover:not-disabled:scale-105 active:hover:not-disabled:scale-100
		focus:outline-2 focus:outline-double
		relative
		;
}