@utility input-form {
	@apply
		bg-n6
		border border-n5 rounded-full
		py-0.5rem px-1.5rem
		text-n0 placeholder:text-n4 placeholder:italic
		pointer-events-auto
		focus:outline-2 outline-b5 outline-offset-5
		placeholder:text-[clamp(0.5rem,2vh+0.25rem,1rem)]
		;
}

@utility input-chat {
	@apply
		z-0
		w-full
		h-3rem
		bg-n6
		border border-n5 rounded-3xl
		px-5
		text-n0
		pointer-events-auto

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5
		;
}