# root .env - defines global infrastructure

# DOCKER
PROJECT_NAME=your_project_name
MAIN_NETWORK_NAME=your_project_network_name
DB_NETWORK_NAME=your_database_network_name
LOCALHOST=127.0.0.1

# POSTGRES
POSTGRES_PORT=your_postgres_port
POSTGRES_HOST=your_postgres_host
POSTGRES_VOLUME_NAME=your_postgres_volume_name
POSTGRES_DB=your_postgres_db_name
POSTGRES_USER=your_postgres_admin_username--orm_itself_will_be_the_admin
POSTGRES_USER_NAME_AUTH=your_postgres_auth_username
POSTGRES_USER_NAME_GAME=your_posgres_game_username
POSTGRES_USER_NAME_PARTY_MANAGER=your_postgres_party-manager_username
DUMMY_POSTGRES_PASSWORD=meow321 #dummy for development stage only
POSTGRES_MAX_CONNECTIONS=20 # Sometimes you need to tune this for performance as your app grows.

# MIGRATOR

# DRIZZLE-GATEWAY
DRIZZLE_GATEWAY_PORT=your_drizzle_gateway_port
DG_VOLUME_NAME=your_drizzle_gateway_volume_name

# AUTHENTICATION
AUTH_PORT=your_auth_port

# PARTY_MANAGER
PARTY_MANAGER_PORT=your_party-manager_port
GAME_SERVICE_URL=http://game-service:port_number
AUTH_SERVICE_URL=http://auth-service:port_number

# NGINX
NGINX_PORT_HTTPS=443
NGINX_PORT_HTTP=80

# WEBSITE

# GAME

# BOT

# CHAT

# OTHERS (still learning now)

# ~~~ THIS FILE REQUIRED BY SUBJECT.PDF TO BE INCLUDED IN REPO AND PUSHED TO GITHUB ~~~