# DOCKER (NAME)
PROJECT_NAME=project_name

# DOCKER (NETWORK)
MAIN_NETWORK=main_network_name
DB_NETWORK=database_network_name

# DOCKER (VOLUMES)
PG_VOLUME=pg_volume_name
DG_VOLUME=dg_volume_name
WEBSITE_VOLUME=website_volume_name

# POSTGRES (psql's recognized variable naming convention)
PGPORT=5432
PGHOST=postgresql # same as service name for the project's database engine
PGDATABASE=pg_database_name
PGUSER=pg_admin_username

# POSTGRES (SCHEMA USERS - not following normal variable naming convention)
PGUSER_AUTH=pg_auth_username
PGUSER_PARTY=pg_party_username
PGUSER_PROFILE=pg_profile_username
PGUSER_GAME_STATS=pg_game_stats_username
PGUSER_FRIENDS=pg_friends_username

# MIGRATOR
PG_MAX_CONNECTIONS=20

# DRIZZLE-GATEWAY
DRIZZLE_GATEWAY_PORT=4983

# NGINX
DOMAIN_PORT=80
# HTTPS_PORT=443

# AUTHENTICATION
AUTH_SERVICE_PORT=port
AUTH_SERVICE_URL=http://docker_container:${AUTH_SERVICE_PORT}
AUTH_SERVICE_SESSION_DURATION_MS=1000 * 60 * 60 * 24
AUTH_SERVICE_SESSION_CLEANUP_CRON_SCHEDULE_STRING=*/5 * * * *

# PARTY
PARTY_SERVICE_PORT=port
PARTY_SERVICE_URL=http://docker_container:${PARTY_SERVICE_PORT}

# PROFILE
PROFILE_SERVICE_PORT=port
PROFILE_SERVICE_URL=http://docker_container:${PROFILE_SERVICE_PORT}
PROFILE_SERVICE_AVATAR_DIR=./profile_data/avatars

# FRIENDS
FRIENDS_SERVICE_PORT=port
FRIENDS_SERVICE_URL=http://docker_container:{FRIENDS_SERVICE_PORT}

# GAME-STATS
GAME_STATS_SERVICE_PORT=port
GAME_STATS_SERVICE_URL=http://docker_container:${GAME_STATS_SERVICE_PORT}

# GAME-SERVER
GAME_SERVER_SERVICE_PORT=port
GAME_SERVICE_URL=http://docker_container:${GAME_SERVER_SERVICE_PORT}

# CHAT
CHAT_SERVICE_PORT=port
CHAT_SERVICE_URL=http://docker_container:${CHAT_SERVICE_PORT}

# GAME-BOT
# WEBSITE