# DATABASE
POSTGRES_DB_NAME=your_postgres_db_name
POSTGRES_USER=your_postgres_user
POSTGRES_PORT=your_postgres_port
DRIZZLE_STUDIO_PORT=your_drizzle_studio_port

# AUTHENTICATION
AUTH_PORT=your_auth_port

# WEBSITE + NGINX
NGINX_PORT_HTTPS=443
NGINX_PORT_HTTP=80

# GAME-FRONTEND

# GAME-BACKEND

# GAME-BOT

# CHAT

# OTHERS (still learning now)

# ~~~ THIS FILE REQUIRED BY SUBJECT.PDF TO BE INCLUDED IN REPO AND PUSHED TO GITHUB ~~~