button {
	@apply
		transition-all duration-100 ease-in-out
		cursor-pointer
		pointer-events-auto

		disabled:opacity-50
		disabled:cursor-default
		;
}

@utility btn-icon-border {
	@apply
		bg-n1
		border border-n2
		rounded-3xl
		flex
		;
}
@utility btn-icon {
	@apply
		h-[clamp(2rem,3.077vh+1.077rem,3rem)]
		aspect-square
		rounded-3xl
		text-b5

		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
	&::after {
		content: attr(data-tip);
		@apply
			w-max
			absolute -translate-x-1/2
			bg-n1
			border border-n2
			rounded-lg
			text-n6
			text-[clamp(0.4375rem,2vw+0.21875rem,1rem)]
			px-[clamp(0.3125rem,1vw+0.15625rem,1.25rem)]
			pointer-events-none
			scale-0 opacity-0
			transition-all ease-out duration-50
			;
	}
	&:focus::after,
	&:hover::after {
		@apply scale-100 opacity-100;
	}
}
@utility btn-emoji {
	@apply
		h-[clamp(1.875rem,5vh+0.5rem,3.125rem)]
		aspect-square
		rounded-3xl
		relative
		text-[clamp(0.5rem,2vw+0.25rem,1rem)]
		text-b5

		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
	&::after {
		content: attr(data-tip);
		@apply
			w-max
			absolute top-1/2 -translate-y-1/2
			bg-n1
			border border-n2
			rounded-lg
			text-n6
			text-[clamp(0.4375rem,2vw+0.21875rem,1rem)]
			px-[clamp(0.3125rem,1vw+0.15625rem,1.25rem)]
			pointer-events-none
			scale-0 opacity-0
			transition-all ease-out duration-50
			;
	}
	&:focus::after,
	&:hover::after {
		@apply scale-100 opacity-100;
	}
}
@utility btn-tip-up {
	&::after {
		@apply bottom-[calc(100%+15px)] origin-bottom;
	}
}
@utility btn-tip-up-2 {
	&::after {
		@apply bottom-[calc(100%+40px)] origin-bottom;
	}
}
@utility btn-tip-down {
	&::after {
		@apply top-[calc(100%+15px)] origin-top;
	}
}
@utility btn-tip-left {
	&::after {
		@apply right-[calc(100%+15px)] origin-right;
	}
}
@utility btn-white {
	@apply
		hw-5/1
		bg-n6
		border border-n5 rounded-3xl
		text-lg
		text-n0
		relative
		flex place-content-center place-items-center

		hover:not-disabled:bg-b5
		hover:not-disabled:border-b6
		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
}
@utility btn-clear {
	@apply
		hw-5/1
		rounded-3xl
		text-lg
		text-n6
		relative
		flex place-content-center place-items-center

		hover:not-disabled:text-b5
		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
}
@utility btn-send {
	@apply
		z-1
		absolute right-0.5 top-1/2 -translate-y-1/2
		w-[clamp(4rem,10vw+2rem,5rem)]
		h-[clamp(0.5rem,5vh+0.25rem,2.875rem)]
		border border-b4 rounded-3xl
		bg-b5
		text-[clamp(0.25rem,2vw+0.125rem,0.75rem)]

		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
}

@utility btn-lightbox {
	@apply
		-z-1 absolute
		w-full h-full
		backdrop-blur-xs
		;
}
@utility btn-lightbox-no-blur {
	@apply
		-z-1 absolute
		w-full h-full
		;
}

@utility btn-card {
	@apply
		h-full max-h-150
		aspect-2/3
		bg-linear-to-b from-b3 to-b5
		border border-b6 rounded-[clamp(0px,2vh,24px)]
		snap-center
		text-[clamp(0px,3vh,24px)]
		p-[clamp(0px,2vh,50px)]
		flex flex-col place-content-between

		hover:not-disabled:from-b4
		hover:not-disabled:to-b5
		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
}

@utility btn-party {
	@apply
		h-[clamp(4rem,7.5vw+2rem,5.625rem)]
		aspect-4/5
		bg-n1
		border border-n2 rounded-[clamp(0px,2vh,8px)]
		snap-center
		text-b5
		p-3

		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		active:hover:not-disabled:scale-100
		;
	&::after {
		content: attr(data-tip);
		@apply
			w-max
			absolute -translate-x-1/2
			bg-n1
			border border-n2
			rounded-lg
			text-n6
			px-5
			pointer-events-none
			scale-0 opacity-0
			transition-all ease-out duration-50
			;
	}
	&:focus::after,
	&:hover::after {
		@apply scale-100 opacity-100;
	}
}

@utility btn-sort {
	@apply
		w-full h-full
		bg-n1
		border border-n2 rounded-3xl
		text-n6
		text-[clamp(0.25rem,2vw+0.125rem,1rem)]
		relative
		outline-solid
		outline-b5
		outline-offset-5

		hover:not-disabled:scale-105

		focus:outline-2
		focus:outline-double

		active:hover:not-disabled:scale-100
		;

	&::after {
		content: attr(data-tip);
		@apply
			w-max
			absolute top-1/2 -translate-y-1/2
			bg-n1
			border border-n2
			rounded-lg
			text-n6
			text-[clamp(0.4375rem,2vw+0.21875rem,1rem)]
			px-[clamp(0.3125rem,1vw+0.15625rem,1.25rem)]
			pointer-events-none
			scale-0 opacity-0
			transition-all ease-out duration-50
			;
	}
	&:focus::after,
	&:hover::after {
		@apply scale-100 opacity-100;
	}
}