@utility input-form {
	@apply
		bg-n6
		w-full
		h-[clamp(1rem,2vh+0.3125rem,1.25rem)]
		rounded-sm
		p-[clamp(1rem,2vh+0.3125rem,1.25rem)]
		pointer-events-auto

		placeholder:text-n4
		placeholder:italic
		placeholder:text-[clamp(0.5rem,2vh+0.25rem,1rem)]

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5

		focus:placeholder:text-n3
		;
}

@utility input-chat {
	@apply
		z-0
		w-full
		h-[clamp(2rem,5vh+0.5rem,3.125rem)]
		bg-n6
		border border-n5 rounded-3xl
		pl-5 pr-25
		text-n0
		pointer-events-auto

		focus:outline-2
		focus:outline-solid
		focus:outline-b5
		focus:outline-offset-5
		;
}